body {
    color:white;
    background-color: rgb(68, 48, 48);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 1%;
}